@charset "UTF-8";
/*css初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
  margin:0; padding:0;
}
fieldset,img,input,button{border:none;margin:0;padding:0;outline-style:none;}
a:focus{outline:none;}
ul,ol{list-style:none;}
input{padding-top:0;padding-bottom:0;font-family:"SimSun","宋体";}
select,input{vertical-align: middle;}
select,input,textarea{font-size:12px;margin:0;}
textarea{resize:none;} /*防止拖动*/
img{border:0;vertical-align:middle;}/*去掉图片低测默然的3像素空白缝隙*/
table{border-collapse: collapse;}
body{font:12px/150% Arial,Verdana,"\5b8b\4f53";color:#666;background:#f5f5f5;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1; /*IE/7/6*/   /*zoom元素清除子元素浮动效果影响只在IE中兼容*/}
a{color:#666;text-decoration:none;}
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6{text-decoration:none;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color:#C81623 !important;}
